bin/
build/
src/de/uni_koblenz/jgralab/grumlschema
src/de/uni_koblenz/jgralab/greql2/schema
src/de/uni_koblenz/jgralab/gretl/template
testit/de/uni_koblenz/jgralabtest/schemas
testit/jgralabtest.properties
testit/testdata/*
/testit
